<div id="<%= dom_id approval %>">
  <p>
    <strong>Description:</strong>
    <%= approval.description %>
  </p>

  <p>
    <strong>Leave:</strong>
    <%= approval.leave_id %>
  </p>

  <p>
    <strong>Leave type:</strong>
    <%= approval.leave_type_id %>
  </p>

  <p>
    <strong>Leave status:</strong>
    <%= approval.leave_status_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= approval.employee_id %>
  </p>

  <p>
    <strong>Sequence:</strong>
    <%= approval.sequence %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= approval.from_Date %>
  </p>

  <p>
    <strong>To date:</strong>
    <%= approval.to_Date %>
  </p>

  <p>
    <strong>Total days:</strong>
    <%= approval.total_Days %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= approval.comment %>
  </p>

</div>
