<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= employee.surname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Hired date:</strong>
    <%= employee.hired_date %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= employee.birthday %>
  </p>

  <p>
    <strong>Line manager:</strong>
    <%= employee.line_manager_id %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= employee.password %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= employee.region_id %>
  </p>

  <p>
    <strong>Isadmin:</strong>
    <%= employee.isAdmin %>
  </p>

  <p>
    <strong>Isactive:</strong>
    <%= employee.isActive %>
  </p>

</div>
