<div id="<%= dom_id leave_accrual %>">
  <p>
    <strong>Days allocated:</strong>
    <%= leave_accrual.days_allocated %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= leave_accrual.employee_id %>
  </p>

  <p>
    <strong>Period type:</strong>
    <%= leave_accrual.period_type_id %>
  </p>

  <p>
    <strong>Leave type:</strong>
    <%= leave_accrual.leave_type_id %>
  </p>

</div>
