<div id="<%= dom_id skhokho %>">
  <p>
    <strong>Carddate:</strong>
    <%= skhokho.cardDate %>
  </p>

  <p>
    <strong>Skhokhocreator:</strong>
    <%= skhokho.skhokhoCreator %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= skhokho.employee_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= skhokho.comment %>
  </p>

  <p>
    <strong>Processed:</strong>
    <%= skhokho.processed %>
  </p>

  <p>
    <strong>Voucher:</strong>
    <%= skhokho.voucher_id %>
  </p>

</div>
