<div id="<%= dom_id leafe %>">
  <p>
    <strong>From date:</strong>
    <%= leafe.from_date %>
  </p>

  <p>
    <strong>To date:</strong>
    <%= leafe.to_date %>
  </p>

  <p>
    <strong>From half:</strong>
    <%= leafe.from_half %>
  </p>

  <p>
    <strong>To half:</strong>
    <%= leafe.to_half %>
  </p>

  <p>
    <strong>Total days:</strong>
    <%= leafe.total_days %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= leafe.description %>
  </p>

  <p>
    <strong>Leave type:</strong>
    <%= leafe.leave_type_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= leafe.employee_id %>
  </p>

  <p>
    <strong>Leave status:</strong>
    <%= leafe.leave_status_id %>
  </p>

  <p>
    <strong>Allocation type:</strong>
    <%= leafe.allocation_type_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= leafe.comment %>
  </p>

</div>
