<div id="<%= dom_id leave_history %>">
  <p>
    <strong>Description:</strong>
    <%= leave_history.description %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= leave_history.comment %>
  </p>

  <p>
    <strong>Leave:</strong>
    <%= leave_history.leave_id %>
  </p>

  <p>
    <strong>Leave status:</strong>
    <%= leave_history.leave_status_id %>
  </p>

</div>
