<div id="<%= dom_id voucher %>">
  <p>
    <strong>Employee:</strong>
    <%= voucher.employee_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= voucher.description %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= voucher.comment %>
  </p>

  <p>
    <strong>Processed:</strong>
    <%= voucher.processed %>
  </p>

</div>
